#menubar
{
	position:relative;
	margin:0px;
	padding:0px;
	background-image: url("../images/menubar/menubar_bg.gif");
	background-repeat: repeat-x;
	width:100%;
	height:107px;
	color:#FFFFFF;
	text-align:left;
	text-align:center;
}

#menubar_container
{
	position:relative;
	margin:0 auto;
	width:875px;
	text-align:left;
}

.menu_item
{
	float:left;
	width:65px;
	height:100%;
	text-align:center;
}


#menubar a:link, #menubar a:visited, #menubar a
{
	color:#000;
	text-decoration:none;
}

#menubar a:hover
{
	color:#003399;
	text-decoration:underline;
}

.menu_item
{
	font-size:8pt;
}

#menubar_company_info
{
	position:absolute;
	left:-10px;
	top:0px;
	width:250px;
	height:55%;
}

#company_title
{
	font-size:14pt;
	font-weight:bold;
}

#menubar_navigation
{
	position:relative;
	width:725px;
	left:148px;
	top:8px;
	height:45%;
}
#menu_changeuser, #menu_changelocation{
	position:relative;
	display:inline;
	margin:0px;
	padding:0px;
	cursor: pointer;
}

#menu_changeuser:hover ul,#menu_changelocation:hover ul{
	display:block;
}

#menu_changeuser ul, #menu_changelocation ul{
	/*position:relative;
	left: 13em;*/
	position:absolute;
	background: #000;
	list-style: none;
	width: 100px;
	margin:0px;
	padding:0px;
	display:none;
	z-index: 20;
}

#menu_changeuser ul>li, #menu_changelocation ul>li{
	margin:0px;
	padding:0.6em;
}

#menu_changeuser ul>li:hover, #menu_changelocation ul>li:hover{
	background: #003399;
}

#menubar_footer
{
	position:absolute;
	top:86px;
	left:0px;
	height:17%;
	padding-top:3px;
	font-size:8pt;
	font-weight:bold;
}

#menubar_date
{
	position:absolute;
	top:86px;
	right:0px;
	height:17%;
	padding-top:3px;
	font-size:8pt;
	font-weight:bold;
}

#menubar #menubar_footer a{
	color: #FFF;
}

#menu_changelocation > span{
	position:relative;
	color: #396B98;
	font-weight: bold;
	text text-transform: uppercase;
}

#menu_changelocation>span:before{
	content:'(';
	color:#fff;
}
#menu_changelocation>span:after{
	content:')';
	color:#fff;
}
