#menubar_date
{
	right:10px;
	color: #FFF;
	position: absolute;
	font-size: 10pt;
	z-index: 99999;
	top: 2px;
	display: table-cell;
	vertical-align: top;
}

#menubar_date div{
	display: inline-block;
}

#menu_changelocation.alternative-menu > span{
	color: hsl(208, 45%, 41%);
	/*text-transform: uppercase;*/
}

.alternative-menu,.alternative-menu > span{
	position:relative;
	display:inline;
	margin:0px;
	padding:0px;
	cursor: pointer;
}

.alternative-menu:hover span{
	font-weight: bold;
}

.alternative-menu span:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #FFF;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	z-index: 30;
}

.alternative-menu > ul, .alternative-menu > span > ul{
	position:absolute;
	background-color: #000;
	list-style: none;
	width: 100px;
	margin:0;
	padding:0;
	display:none;
	z-index: 20;
}

.alternative-menu:hover > ul, .alternative-menu:hover > span > ul{
	display:block;
}

.alternative-menu > ul > li, .alternative-menu > span > ul > li{
	margin:0px;
	padding:0.6em;
}

.alternative-menu > ul > li:hover, .alternative-menu > span > ul > li:hover{
	background: hsl(220, 100%, 30%);
}

/*Nuevo menu principal*/
nav.user{
	position: fixed;
	width: 100%;
	background-color: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 100%);
	z-index: 50000;
	top: 0;
	text-align: center;
	/*padding: 1em;*/
}

.logo{
	float: left;
	left: 1px;
	top:1px;
	display: inline-block;
	margin: 0 1em;
	padding: 0;
}

.logo img{
	height: 53px;
}

nav.main-menu{
	position: fixed;
	top: 56px;
	z-index: 9999;
	/*border: 2px outset hsl(0, 0%, 0%);*/
	/*padding: 5px;*/
	height: 100%;
	-webkit-box-shadow: -1px 0px 8px hsl(0, 0%, 60%) inset;
	-moz-box-shadow: -1px 0px 8px hsl(0, 0%, 60%) inset;
	box-shadow: -1px 0px 8px hsl(0, 0%, 60%) inset;
	background-color: hsl(0, 0%, 100%);
}

nav.main-menu > ul{
	list-style: none;
}
nav.main-menu > ul > li{
	float: none;
	/*margin: 5px 0;*/
	padding: 2px;
	/*width:75px;*/
	height:100%;
	font-size:8pt;
	text-align:center;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

nav.main-menu > ul > li:hover{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(0, 0%, 93%)), color-stop(1, hsl(0, 0%, 87%)) );
	background: -moz-linear-gradient( center top, hsl(0, 0%, 93%) 5%, hsl(0, 0%, 87%) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(0, 0%, 93%)', endColorstr='hsl(0, 0%, 87%)');
	-webkit-box-shadow: -1px 0px 8px hsl(0, 0%, 60%) inset;
	-moz-box-shadow: -1px 0px 8px hsl(0, 0%, 60%) inset;
	box-shadow: -1px -1px 5px hsl(0, 0%, 80%) inset;
}

nav.main-menu > ul > li:hover:after{
	content: '';
	position: absolute;
	/*top: 40px;*/
	left: 100%;
	margin-top: -34px;
	width: 0; height: 0;
	border-left: 12px solid hsl(0, 0%, 78%);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

nav.main-menu ul li > ul{
	display: table-row;
}

nav.main-menu ul li > ul > li{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-align: left;
	margin: 0 5px 0 0; 
	/*padding: 5px*/
}
nav.main-menu ul li > ul > li:first-child{
	width: 58px;
}
nav.main-menu ul li > ul > li:first-child img{
	width: 70%;
}
nav.main-menu ul li > ul > li:last-child{
	width: 90px;
}
nav.user a:not(.big_button):not(.small_button)
{
	color:hsl(0, 0%, 100%) !important;
}

nav.main-menu a, nav.main-menu a:active, nav.main-menu a:visited{
	color: hsl(0, 0%, 0%) !important;
	text-decoration: none !important;
	font-size: 1.2em !important;
	font-weight: bold;
}

@media screen and (max-width:1180px){
	nav.main-menu a, nav.main-menu a:active, nav.main-menu a:visited{
		color: hsl(0, 0%, 0%) !important;
		text-decoration: none !important;
		font-size: .9em !important;
		font-weight: normal;
	}
	nav.main-menu ul li{
		/*padding: 2px 0;*/
		width:62px;
		height:100%;
	}
	nav.main-menu ul li > ul > li:last-child {
		width: 100%;
	}
	nav.main-menu ul li > ul > li:first-child img{
		width: 48%;
	}
	nav.main-menu ul li > ul > li{
		display: block;
		text-align: center;
	}
	nav.main-menu > ul > li:hover:after{
		margin-top: -35px;
	}                      
  
} 