@import url(autocomplete.css);
@import url(menubar.css);
@import url(general.css);
@import url(popupbox.css);
@import url(register.css);
@import url(receipt.css);
@import url(reports.css);
@import url(tables.css);
@import url(thickbox.css);
@import url(datepicker.css);
@import url(editsale.css);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

:focus{
	outline: transparent;
}

body
{
	margin:0;
	padding:0;
	/*background: url(../images/background.png);*/
	background-color: #fafafa;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	margin-bottom: 100px;
}

a{
	color: #000;
	text-decoration: underline;
	font-size: 1em;
}

a:hover{
	color: #003399;
	text-decoration: none;
	font-size: 1em;
}

a.none
{
	text-decoration:none;
}


#content_area_wrapper
{
	position:relative;
	width:100%;
	/*background-color:#FFFFFF;*/
	margin: 0;
	padding: 0;
	text-align:center;
	min-height: 500px
}

#content_area
{
	position:relative;
	margin:0 auto;
	width:875px;
	text-align:left;

}

#title_bar
{
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
	height:50px;
}

#title, #page_title{
	font-family: 'Fjalla One', sans-serif;
	color:#FFF;
	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#title
{
	font-family: 'Fjalla One', sans-serif;
	font-size:35px;
	font-weight:bold;
}

#page_title
{
	margin-top:8px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
}

#page_subtitle
{
	margin-top:8px;
	font-size:16px;
	font-weight:bold;
	color:#000000;
	text-align:center;
}

#new_button
{
	position:absolute;
	bottom:-5px;
	right:0px;
}

#spinner
{
	position:absolute;
	display:none;
	right:21%;
	top:5px;
}

#feedback_bar
{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:55px;
	position:fixed;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:1;
	line-height:3.3;
}

#home_module_list
{
	position: relative;

}

.module_item
{
	margin: 3px;
    float: left;
    width: 200px;
    border: hsl(208, 45%, 75%) solid 1px;
    height: 130px;
    background-color: #396B98;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    padding-top: 20px;
	color: #FFF;

	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

.module_item:hover{
	cursor: pointer;
	background-color: hsl(208, 45%, 65%);
}

#config_wrapper
{
	text-align:center;
}

#config_info
{
	width:70%;
	margin:0 auto;
	padding:10px;
	margin-bottom:30px;
	margin-top:10px;
	text-align:left;
}

#footer
{
	height: 1em;
	/*margin-top:25px;
	margin-bottom:15px;*/
	padding: 1.5em;
	text-align:center;
	font-size:12px;
	color:#000;
	clear:both;
	background-color:#f4f4f4;
	bottom:0;
	border-top:1px solid #CCC;
	margin-top:10px;
	position:fixed;
	width:100%;
}

#footer a{
	text-decoration: underline;
	color: #000;
}

#footer a:hover{
	text-decoration:none;
	color: #003399;
}


/*Reportes*/
.header-table{
	width: 100%;
}
.header-table tr td{
	width: 33.3%;
	text-align: center;
}


.middle-black-bar{
	background-color: #000; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	font-size: 12px; 
	padding: 3px;
	margin: 0 0 5px 0;
}

.middle-black-bar label{
	font-weight: bold;
	color: #FFF;
}

.middle-gray-bar{
	background-color: #FFF;
	border: 1px solid #CCC; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	font-size: 15px; 
	padding: 3px;
	margin: 0 0 5px 0;
	height:20px;
	position:relative;
	font-weight: bold;
}

