#table_action_header
{
	position:relative;
	width:99.8%;
	background-color:#FFF;
	background-image:url(../images/checkbox_arrow.gif);
	height:20px;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	background-position:5px 10px;
	background-repeat:no-repeat;
	padding:10px 0px;

	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#table_action_header ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	margin-left:15px;
}

#table_action_header ul li
{
	margin-left:8px;
	margin-right:4px;

}

#table_action_header ul li span
{
	background-color: hsl(208, 45%, 60%);
	/*border: 2px solid #DDDDDD;*/
	font-size: 14px;
	padding: 2px 5px 2px 5px;
	border-radius: 1em;

}

#table_action_header a
{
	text-decoration:none;
	color:#FFF;
}

#table_holder
{
	position:relative;
	margin-bottom:50px;
}

table.tablesorter
{
	position:relative;
	width:100%;
	/*border-top:3px solid #0a6184;*/
	border-collapse:collapse;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
	color:#FFFFFF;
	text-align:left;
	background-color:#396B98;
	padding: 0px 5px 0px 5px;
	font-size: 14px;
}

table.tablesorter thead tr .header
{
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td
{
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 5px;
	font-size: 12px;

}

table.tablesorter tbody td
{
	border-bottom:1px solid #DDDDDD;
}

table.tablesorter tbody td.over
{
	background-color:hsl(208, 45%, 82%);
}

table.tablesorter tbody td.selected
{
	background-color:#8dbdd8;
}

table.tablesorter thead tr .headerSortUp
{
	background-image: url(../images/tables/asc.gif);
}

table.tablesorter thead tr .headerSortDown
{
	background-image: url(../images/tables/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
	background-color: hsl(208, 45%, 32%);
}

table.innertable
{
	display: none;
}

table.innertable thead tr th
{
	background-color: #0a6184;
}

table.innertable tbody tr td
{
	background-color: #DDD;
}

table.tablesorter tbody td.expand{
	background-color:#eee;
	cursor: pointer;
}
table.tablesorter tbody td.expand a{
	text-decoration:none;
}
table.tablesorter tbody tr.hide
{
	display: none;
}
table.tablesorter tbody tr.hide > td > table.innertable
{
	display: block;
}

