*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

file-bakups/default 2014-04-22-17-24-26.sql

file-bakups/default 2014-04-22-17-26-38.sql

file-bakups/default 2014-04-23-12-38-45.sql

*.sql
