/* --------------------------------------------------------------
   GLOBAL
-------------------------------------------------------------- */
*{
    list-style:none;
}

body, td, th {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}
body {
	background-color: #efefef;
	margin: 0;
}
form {
	margin: 0;
	padding: 0;
}
input, select, textarea {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

/* --------------------------------------------------------------
   LAYERS
-------------------------------------------------------------- */

#searchbox {
	position: absolute;
	top: 50px;
	left: 400px;
	width: 550px;
	border: 1px solid #999;
	background-color: #FFF;
	padding: 5px;
	text-align: center;
}
#topnav {
	line-height: 21px;
	background-color: #EFEFEF;
	text-align: left;
	margin: 0;
	height: 21px;
	padding: 0 12px;
	border-bottom: 1px solid #999;
}
#topnav #welcome {
	text-align: left;
	margin: 0;
	padding: 0;
	float: left;
}
#topnav #date {
	text-align: right;
	margin: 0;
	padding: 0;
	float: right;
}
#logo_container {
	background: #B0D0EF url(images/logobg.gif) repeat-x;
	text-align: left;
	height: 90px;
	margin: 0;
	padding: 0 0 0 44px;
}
#menu li a.menuFont{
    color:#666;
    text-decoration:none;
    font-size:9px;
    font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#menu li a.menuFont:visited{
    color:#666;
    text-decoration:none;
}
#menu li:hover a.menuFont{
    color:#000;
}
#menu li ul li a.menuFont{
    font-size:11px;
    font-weight:bold;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color:#FFF;
    text-decoration:none;
}
#menu li ul li:hover a.menuFont{
    color:#666;
}
a.subMenuLinks{
    font-family:Tahoma;
    font-size:11px;
    line-height:20px;
    text-decoration:none;
    color:#000;
    display:block;
}
a.subMenuLinks:link{
    text-decoration:none;
    color:#000;
}
a.subMenuLinks:visited{
    text-decoration:none;
    color:#000;
}
a.subMenuLinks:hover{
    text-decoration:none;
    color:#fff;
}
#navigation{
	background: #F0F0F0 url(images/menubg.gif) repeat-x;
    position:relative;
    left:0;
    bottom:0;
    padding:0;
    margin:0;
    height:39px;
    width:100%;
    border-bottom: 1px solid #999;
    float:left;
}
#navigation li{
    height:39px;
    line-height:39px;
    float:left;
    position:relative;
    text-align:center;
}
#navigation li:hover{
    background-color:#9DC3EA;
}
#navigation li ul{
    display:none;
}
#navigation li:hover ul{
    top:40px;
    position:absolute;
    padding:0;
    margin:0;
    left:0;
    width:170px;
    display:block;
}
#navigation li:hover ul li{
    background-color:transparent;
    text-align:left;
    margin:-1px 0 0 0;
    padding:0 0 3px 5px;
    position:relative;
    line-height:17px;
    height:17px;
    width:165px;
    width:100%;
    display:block;
    background-color:#E6F0FA;
    border:1px solid #6CA7E2;
}
#navigation li:hover ul li:hover{
    background-color:#C5DCF3;
}
#content_container {
	background: #FFFFFF url(images/sidebarbg.gif) repeat-y;
	text-align: left;
	margin: 0;
	padding: 0;
	width: 1000px;
	border-right: 1px solid #CCC;
}
#content_container #left_side {
	background-color: #EFF2F9;
	text-align: left;
	width: 150px;
	margin: 0;
	padding: 15px;
	float: left;
  border-right: 1px solid #CCC;
}
#content_container #content {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	float: right;
	width: 819px;
}
#content_container #content .header_container #intellisearch {
	background-color: #EEEEEE;
	text-align: left;
	height: 25px;
	margin: 0px;
	padding: 0px;
	float: right;
}
#intellisearch #searchresults {
    position: absolute;
    top: 188px;
    left: 644px;
    width: 350px;
    background-color: #efefef;
	border: 1px solid #ccc;
    border-top: 0;
	padding: 0;
	display: none;
	white-space: nowrap;
    line-height: 12px;
    font-size: 10px;
}
#intellisearch #searchresults .searchresultheader {
    border-top: 1px solid #ccc;
    background-color:#f8f8f8;
    padding:2px;
    font-weight:bold;
    text-align:center;
}
#intellisearch #searchresults .searchresult {
    border-top: 1px solid #ccc;
    padding: 2px 0 2px 5px;
}
#intellisearch #searchresults .searchresult .desc {
    color: #888;
}
#intellisearch #searchresults .searchresult:hover {
    background-color: #fff;
}
#intellisearch #searchresults .searchresult a {
    text-decoration: none;
    display: block;
}
#ticketclientsearchresults {
    position: absolute;
    width: 300px;
    background-color: #FCF9D2;
	border: 1px solid #F9D43E;
	padding: 0;
	margin: 0 10px 0 0;
	display: none;
	white-space: nowrap;
    font-size: 10px;
    font-family: Tahoma;
}
#ticketclientsearchresults .searchresultheader {
    background-color:#FFEC9F;
    padding:2px;
    font-weight:bold;
    text-align:center;
}
#ticketclientsearchresults .searchresult {
    border-top: 1px solid #FFEC9F;
    padding: 2px 0 2px 5px;
}
#ticketclientsearchresults .searchresult .desc {
    color: #888;
}
#ticketclientsearchresults .searchresult:hover {
    background-color: #fff;
}
#ticketclientsearchresults .searchresult a {
    text-decoration: none;
    display: block;
}
#clientsearchcancel {
    display: none;
}
#content_container #content #content_padded {
	background-color: #FFFFFF;
	text-align: left;
	margin: 0;
	width: 789px;
	padding: 0 15px 15px 15px;
}
#content_container #content #content_padded #tab_content {
	background-color: #FFFFFF;
	text-align: left;
	margin: 0px;
	padding: 10px;
	border: 1px solid #CCC;
    border-top: 0;
    text-align: center;
}
#footer {
	background-color: #ECECEC;
	line-height: 40px;
	text-align: left;
	margin: 0;
	height: 40px;
	border-top: 1px solid #DDD;
	padding: 0 100px;
}

/* --------------------------------------------------------------
   HEADERS
-------------------------------------------------------------- */

h1 {
	float: left;
	color: #297CCF;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}
h2 {
	color: #297CCF;
	font-size: 14px;
	font-weight: bold;
}

/* --------------------------------------------------------------
   LINKS
-------------------------------------------------------------- */

a, a:visited {
	color: #000066;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0;
}
a.highlight, a.highlight:visited, a.highlight:hover {
	color: #CC0000;
}
#content_container #left_side ul.menu li a, #content_container #left_side ul.menu li a:visited {
	display: block;
	background-color: #FFF;
	border-bottom: 1px solid #8FBCE9;
	width: 149px;
	height: 15px;
	line-height: 15px;
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #000;
    text-align: center;
	text-decoration: none;
}
#content_container #left_side ul.menu li a:hover {
	background-color: #EFF2F9;
	font-weight: bold;
}
#content_container #content #content_padded #tabs ul li a, #content_container #content #content_padded #tabs ul li a:visited, #content_container #content #content_padded #tabs ul li a:hover {
	display: block;
	background-color: #EFEFEF;
	padding: 0 10px;
	margin: 0;
	line-height: 18px;
	height: 18px;
	border: 1px solid #CCC;
	border-bottom: 0;
	color: #000;
	text-decoration: none;
}
#content_container #content #content_padded #tabs ul li.tabselected a, #content_container #content #content_padded #tabs ul li.tabselected a:visited, #content_container #content #content_padded #tabs ul li.tabselected a:hover {
	background-color: #FFF;
	font-weight: bold;
}
#content_container #content #content_padded #clienttabs ul li a, #content_container #content #content_padded #clienttabs ul li a:visited, #content_container #content #content_padded #clienttabs ul li a:hover {
	display: block;
	background-color: #EFEFEF;
	padding: 0 7px;
	margin: 0;
	line-height: 18px;
	height: 18px;
	border: 1px solid #CCC;
	border-bottom: 0;
	color: #000;
	text-decoration: none;
}
#content_container #content #content_padded #clienttabs ul li.tabselected a, #content_container #content #content_padded #clienttabs ul li.tabselected a:visited, #content_container #content #content_padded #clienttabs ul li.tabselected a:hover {
	background-color: #FFF;
	font-weight: bold;
}

/* --------------------------------------------------------------
   LISTS
-------------------------------------------------------------- */

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 38px;
	line-height: 38px;
}
#navigation ul li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	padding: 0 20px;
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: #757575;
	font-size: 10px;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
#navigation ul li .menuFont {
	text-transform: uppercase;
}
#navigation ul li.navbuttonover {
	background-color: #9DC3EA;
	color: #355E88;
}
#content_container #left_side ul.menu {
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
	border-right: 1px solid #8FBCE9;
	border-left: 1px solid #8FBCE9;
	width: 149px;
}
#content_container #content #content_padded #tabs ul {
	display: block;
	width: 783px;
	height: 20px;
	line-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
    padding-left: 6px;
    border-bottom: 1px solid #CCC;
}
#content_container #content #content_padded #tabs ul li {
	float: left;
	padding: 0;
	margin: 0 0 0 4px;
}
#content_container #content #content_padded #clienttabs ul {
	display: block;
	width: 783px;
	height: 20px;
	line-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
    padding-left: 6px;
    border-bottom: 1px solid #CCC;
}
#content_container #content #content_padded #clienttabs ul li {
	float: left;
	padding: 0;
	margin: 0 0 0 4px;
}

/* --------------------------------------------------------------
   TABLES
-------------------------------------------------------------- */

table.form {
	border: 1px solid #8FBCE9;
	padding: 2px;
}
table.form td.fieldlabel {
    text-align: right;
}
table.form td.fieldarea {
	background-color: #EFF2F9;
    text-align: left;
}
table.datatable {
	padding: 0;
	margin: 0;
}
table.datatable th {
	background-color: #EFEFEF;
	font-weight: bold;
	text-align: center;
}
table.datatable td {
	background-color: #FFF;
    text-align: center;
}
table.datatable tr.rowhighlight td {
	background-color: #EFF2F9;
}
table.datatable tr:hover td {
	background-color: #EFF2F9;
}

/* --------------------------------------------------------------
   SPECIAL CLASSES
-------------------------------------------------------------- */

.absmiddle {
	vertical-align: middle;
}
.clear {
	clear: both;
}
.smallfont {
	font-size: 10px;
}
.button {
	background-color: #FFF;
	color: #000;
	font-weight: bold;
	border: 1px solid #8FBCE9;
}
.tablebg {
	background-color: #CCC;
}
#content_container #left_side .header {
	background-color: #DDE3EE;
	color: #000066;
	border: 1px solid #8FBCE9;
	display: block;
	width: 149px;
	text-align: center;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
#content_container #left_side .plain_header {
	display: block;
	color: #000;
	font-weight: bold;
	width: 149px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #CCC;
	padding: 0;
	margin: 0 0 10px 0;
}
#content_container #content .header_container {
	display: block;
	background-color: #EEE;
	width: 789px;
	height: 25px;
	line-height: 25px;
	padding: 0 15px;
	margin: 5px 0;
	border-top: 1px dashed #CCC;
	border-bottom: 1px dashed #CCC;
}

/* --------------------------------------------------------------
   INFO BOXES
-------------------------------------------------------------- */

.infobox {
	background-image: url('../../images/warning.gif');
	background-repeat: no-repeat;
	background-position: 5px;
	margin: 10px 5px 10px 5px;
	padding: 5px 5px 5px 45px;
	background-color: #FCF9D2;
	border: 1px solid #F9D43E;
    text-align: left;
}
.contentbox {
	text-align: center;
	background-color: #f7f7f7;
	border: 1px dashed #cccccc;
	padding: 10px;
}
.errorbox {
	border: 1px dashed #cc0000;
	font-weight: bold;
	background-color: #FBEEEB;
	text-align: center;
	padding: 10px;
	color: #cc0000;
}
.invoicetooltip {
	background-color: #888888;
	color: #000000;
	padding: 5px;
	z-index: 100;
}

/* --------------------------------------------------------------
   TEXT COLORS
-------------------------------------------------------------- */

.textblack {
	color: #000000;
}

.textblue {
    color: #224488;
}

.textgreen {
	color: #779500;
}

.textgrey {
	color: #888888;
}

.textgold {
    color: #ffbb55;
}

.textorange {
	color: #ff6600;
}

.textred {
	color: #cc0000;
}

/* --------------------------------------------------------------
   DATE PICKER
-------------------------------------------------------------- */

.datepick {
    width: 75px;
}
.datepick + img {
    position: relative;
    left: 5px;
    top: 1px;
}

/* --------------------------------------------------------------
   HOMEPAGE PERCENTAGE BARS
-------------------------------------------------------------- */

img.greenbar {
 background: white url(../../images/percentbar_green.png) top left no-repeat;
 padding: 0;
 margin: 2px 0 2px 0;
 background-position: 1px 0;
}
img.redbar {
 background: white url(../../images/percentbar_red.png) top left no-repeat;
 padding: 0;
 margin: 2px 0 2px 0;
 background-position: 1px 0;
}
img.bluebar {
 background: white url(../../images/percentbar_blue.png) top left no-repeat;
 padding: 0;
 margin: 2px 0 2px 0;
 background-position: 1px 0;
}
img.goldbar {
 background: white url(../../images/percentbar_gold.png) top left no-repeat;
 padding: 0;
 margin: 2px 0 2px 0;
 background-position: 1px 0;
}
img.blackbar {
 background: white url(../../images/percentbar_black.png) top left no-repeat;
 padding: 0;
 margin: 2px 0 2px 0;
 background-position: 1px 0;
}
img.orangebar {
 background: white url(../../images/percentbar_orange.png) top left no-repeat;
 padding: 0;
 margin: 2px 0 2px 0;
 background-position: 1px 0;
}

/* --------------------------------------------------------------
   SUPPORT TICKETS
-------------------------------------------------------------- */

.ticketstaffnotes {
     background-color: #FFFFE6;
     border: 1px dashed #DACD83;
     padding: 5px;
}

.ticketstaffnotestable {
    width: 100%;
    border-bottom: 1px dashed #000;
    margin-bottom: 7px;
}

.ticketflag {
    background-color: #FFFFCC;
}

/* --------------------------------------------------------------
   CLIENT SUMMARY PAGE
-------------------------------------------------------------- */

.clientssummarybox {
    background-color: #ECEFFB;
    padding: 10px;
    margin-bottom: 4px;
}
.clientssummarybox .title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.clientssummarybox ul {
    list-style-type: none;
    margin: 10px 0 0 0;
}
.clientssummarybox ul li {
    margin: 0 0 2px 20px;
}
table.clientssummarystats {
    width: 100%;
}
table.clientssummarystats td {
    background-color: #ffffff;
    font-size: 11px;
    padding-left: 4px;
}
table.clientssummarystats tr.altrow td {
    background-color: #f6f6f6;
    padding-left: 4px;
}