.cartheading {
	font-weight: bold;
	font-size: 14px;
	color: #0066cc;
}

.cartsubheading {
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}

.cartbox {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #f7f7f7;
	border: 1px dashed #cccccc;
}

.cartbox#catlinks {
    font-weight: bold;
}

.cartpricing {
    margin: 5px;
    padding: 2px;
    color: #cc0000;
}

.cartedit { color:#009900; }
.cartremove { color:#cc0000; }

.carttable {
	background-color: #cccccc;
	width: 95%;
}

.carttableheading td {
	background-color: #efefef;
	color: #222222;
	height: 20px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}

.carttablesummary td {
	background-color: #efefef;
	color: #222222;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
}

.carttablerow td {
	background-color: #ffffff;
	padding: 4px;
    text-align: center;
}

.carttableproduct td {
	background-color: #ffffff;
	color: #555555;
	padding: 4px;
}

.carttableaddon td {
	background-color: #ffffff;
	color: #555555;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.carttableconfig td {
	background-color: #efefef;
	font-size: 9px;
	padding: 2px;
}

.carttabledivider td {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}