.cartbox{background-color:#F5F5F5;border:3px solid #EBEBEB;line-height:20px;padding:10px;}
.cartheading{color:#06c;font-size:14px;font-weight:700;}
.cartmenu{background-color:#FFF;margin:0 0 10px;padding:10px;}
.cartsubheading{color:#000;font-size:12px;font-weight:700;}
.carttable{background-color:#ccc;width:95%;}
.carttableaddon td{background-color:#fff;color:#555;padding:2px 20px;}
.pricing{color:#9F0000;font-size:11px;}
table tr td{padding:10px;}
table.data{margin:10px 0;padding:0;}
table.data tr td{background-color:#FFF;border-bottom:1px solid #EBEBEB;color:#666;padding:10px;text-align:center;}
table.data tr th{background-color:#666;border-bottom:3px solid #888;color:#FFF;font-weight:700;padding:10px;text-align:center;}
table.data tr:hover td{background-color:#EFF5FF;}
table.frame{border:1px solid #EBEBEB;border-bottom:0;margin:10px 0;padding:0;}
table.frame table td{background-color:#FFF;border-bottom:1px solid #EBEBEB;padding:10px;}
table.frame table td.fieldarea{background-color:#F5F5F5;border-right:1px solid #EBEBEB;color:#333;padding:10px;text-align:right;}
table.frame td{padding:0;}
tr.carttableconfig td{font-size:9px;padding:5px;}
tr.carttabledivider td{border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
tr.carttableheading td{background-color:#efefef;color:#222;font-size:12px;font-weight:700;height:20px;text-align:center;}
tr.carttableproduct td{background-color:#fff;color:#666;padding:10px;}
tr.carttablesummary td{background-color:#F5F5F5 !important;color:#333;font-size:12px;font-weight:700;height:20px;}
tr.carttablepromotion td{background-color:#FFFFDA !important;color:#333;font-size:12px;font-weight:700;height:20px;}
tr.carttabledue td{background-color:#E7FFDA !important;color:#333;font-size:12px;font-weight:700;height:20px;}
tr.carttablerecurring td{background-color:#FFE1E1 !important;color:#333;font-size:12px;font-weight:700;height:20px;}