#main_container {
	width:170px;
	background-color:#ffffff;
	overflow:auto;
	overflow-x: hidden;
	height:100%;	/* this will make sure that the height will extend at the bottom */
	position:absolute;  /*container div must be absolute, for our fixed bar to work */
	top:0px;
	float:left;
}